<section id="bio">
  <div id="bio-avatar-wrapper">
    <img src="{{site.data.author.dp}}" alt="Avatar missing" id="bio-avatar" />
  </div>

  <div id="bio-text">{{site.data.author.description}}</div>

  <div style="margin-top: 25px; text-align: center;">
    <h4 style="color: #666; font-size: 10px; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 15px;">Stream My Latest Vibes</h4>
    <div style="display: flex; justify-content: center; gap: 20px;">
      <a href="https://open.spotify.com/artist/1714470974" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/174/174872.png" width="30" style="filter: drop-shadow(0 0 5px rgba(74, 222, 128, 0.3));"></a>
      <a href="https://www.youtube.com/@ASMOABDULLAH" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="30"></a>
      <a href="https://music.apple.com/om/artist/asmo-abdullah/1714470974" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/831/831300.png" width="30"></a>
    </div>
  </div>
</section>

{% include social-links.html %}
