<section id="bio">
  <div id="bio-avatar-wrapper">
    <img src="{{site.data.author.dp}}" alt="Avatar missing" id="bio-avatar" />
  </div>

  <div id="bio-text">{{site.data.author.description}}</div>

  <div style="margin-top: 20px; display: flex; justify-content: center; gap: 20px;">
    <a href="http://googleusercontent.com/spotify.com/3" target="_blank" style="filter: grayscale(1); transition: 0.3s;" onmouseover="this.style.filter='none'"><img src="https://cdn-icons-png.flaticon.com/512/174/174872.png" width="25"></a>
    <a href="https://www.youtube.com/@ASMOABDULLAH" target="_blank" style="filter: grayscale(1); transition: 0.3s;" onmouseover="this.style.filter='none'"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="25"></a>
    <a href="https://music.apple.com/om/artist/asmo-abdullah/1860330114" target="_blank" style="filter: grayscale(1); transition: 0.3s;" onmouseover="this.style.filter='none'"><img src="https://cdn-icons-png.flaticon.com/512/831/831300.png" width="25"></a>
  </div>
</section>

{% include social-links.html %}
